@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "../../node_modules/susy/sass/susy";

@import "common/variables";
@import "mixins/fonts";
@import "mixins/media";

@import "common/reset";
@import "common/fonts";
@import "common/type";
@import "common/layout";
@import "common/footer";
@import "common/forms";
@import "common/buttons";

$susy: (
    'columns': susy-repeat(12),
    'gutters': 0.25,
    'spread': 'narrow',
    'container-spread': 'narrow',
);

.content {
    height: 100%;
    padding-bottom: 0;
}

.game {
    width: 100%;
    height: 100%;
    min-width: 580px;

    @include media-large {
        display: flex;
    }

    &.game-started {
        .game-toolbar {
            @include translateY(-100%);

            @include media-large() {
                @include translateY(0);
                @include translateX(-100%);
            }
        }

        .game-space {
            @include translateY(-100%);
            display: block;

            @include media-large() {
                @include translateY(0);
            }
        }
    }

    &-toolbar {
        position: relative;
        width: susy-span(12 of 12);
        min-height: 100vh;
        background-color: white;
        padding-bottom: 34px;
        @include box-shadow(
            2px 0 0 5px rgba(0, 0, 0, .19),
            1px 0 5px 3px rgba(0, 0, 0, .39));
        z-index: 999;
        @include translateY(0);
        @include transition(transform 500ms ease-in-out);

        &__actions {
            width: 100%;
            padding: 0 48px;
            margin-top: 120px;
        }

        &__action {
            display: block;
            &:not(:first-child) {
                margin-top: 21px;
            }
        }
        
        .footer {
            height: 34px;
            padding: 0 48px;
            background-color: white;
        
            .footer__copyright,
            .footer__regards {
                @include font(12px, 34px);
            }
        }

        @include media-large() {
            position: fixed;
            top: 0;
            left: 0;
            width: susy-span(4 of 12);
            height: 100%;
            @include translateY(0);
            @include translateX(0);
        }
    }

    &-space {
        position: relative;
        width: susy-span(12 of 12);
        height: 100%;
        display: none;
        background-color: $game-background-color;
        @include transition(transform 500ms ease-in-out);

        @include media-large() {
            padding-left: susy-span(4 of 12);
        }
    }

    &-header {
        padding: 72px 48px 0;
        @include bold(32px, 38px);
        text-align: center;
        text-transform: uppercase;
    }

    &-options {
        width: 100%;
        height: auto;
        padding: 0 48px;
        margin-top: 48px;
        overflow-y: auto;

        @include media-large() {
            max-height: calc(100% - 110px - 48px);
        }

        .form-actions {
            margin-bottom: 48px;
        }

        .game-options-label {
            margin: 10px 0;
            color: $inaccent-text-color;
            @include light(18px, 36px);
        }

        .game-player-color {
            display: inline-flex;
            justify-content: flex-start;

            &-item {
                display: block;
                width: 48px;
                height: 48px;
                cursor: pointer;

                &_red {
                    background-color: $red-player-color;
                }

                &_green {
                    background-color: $green-player-color;
                }

                &_blue {
                    background-color: $blue-player-color;
                }

                &_yellow {
                    background-color: $yellow-player-color;
                }

                @include transition(
                    transform 250ms ease-in-out, 
                    border 250ms ease-in-out,
                    background-color 250ms ease-in-out
                );
            }

            .form__radio:checked + .game-player-color-item {
                @include scale(1.1);
                border: 2px solid $game-background-color;
            }

            .form__radio[disabled] + .game-player-color-item {
                background-color: $disabled-background-color;
                pointer-events: none;
            }
        }

        .game-shape {
            display: inline-flex;
            justify-content: center;

            &-item {
                display: block;
                width: 100px;
                height: 100px;
                margin: 0 21px;
                padding: 14px;
                cursor: pointer;
                background-color: $fill-background-color;
                border-radius: 2px;
                @include transition(background-color 250ms ease-in-out);

                svg {
                    width: 100%;
                    height: 100%;
                    fill: $inaccent-text-color;
                    @include transition(fill 250ms ease-in-out);
                }

                &:hover {
                    background-color: $accent-background-color;
                    
                    svg {
                        fill: white;
                    }
                }
            }

            .form__radio:checked + .game-shape-item {
                background-color: $accent-background-color;

                svg {
                    fill: white;
                }
            }

        }
    }
}

.btn-game {
    width: 100%;
    height: 75px;
    @include regular(22px, 75px);
    text-transform: none;
    @include box-shadow(3px 3px 4px 2px rgba(0, 0, 0, .39));
    border-radius: 0;
    background-color: $game-accent-background-color;
    border-color: $game-accent-border-color;

    &:hover {
        @include box-shadow(6px 6px 6px 2px rgba(0, 0, 0, .45));
        background-color: $game-accent-background-color;
        border-color: $game-accent-border-color;
    }
}

.game-board {
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-gap: 1px;

    &[data-shape] {
        .game-cell:hover {
            background-position: center;
            background-size: 72px 72px;
            background-repeat: no-repeat;
        }
    }

    &[data-shape~="x"] {
        .game-cell:not(.game-cell_move-on):hover {
            background-image: image-url("x.svg");
        }
    }

    &[data-shape~="o"] {
        .game-cell:not(.game-cell_move-on):hover {
            background-image: image-url("o.svg");
        }
    }

    .game-cell {
        height: 100px;
        background-color: white;
        padding: 14px;
        @include transition(background-color 250ms ease-in);
        
        svg {
            width: 100%;
            height: 100%;
            @include transition(fill 250ms ease-in);
        }

        &.game-cell_won {
            background-color: $accent-background-color;
                    
            svg {
                fill: white;
            }
        }
    }
}

.form {
    &__group {
        &[data-player-color~="red"]::before {
            background-image: linear-gradient(to right, $red-player-color 0%, $base-border-color 10%);
        }

        &[data-player-color~="green"]::before {
            background-image: linear-gradient(to right, $green-player-color 0%, $base-border-color 10%);
        }

        &[data-player-color~="blue"]::before {
            background-image: linear-gradient(to right, $blue-player-color 0%, $base-border-color 10%);
        }

        &[data-player-color~="yellow"]::before {
            background-image: linear-gradient(to right, $yellow-player-color 0%, $base-border-color 10%);
        }
    }
}

.game-scoreboard {
    position: absolute;
    display: inline-flex;
    width: 100%;
    padding: 0 48px;
    justify-content: space-between;

    .game-player {
        flex: 1 350px;
        max-width: 350px;
        height: 100px;
        padding: 22px 0 0;

        &:nth-child(1) {
            direction: rtl;
        }

        &-shape {
            display: inline-block;
            width: 78px;
            height: 78px;
            padding: 14px;
            background-color: white;
            border-radius: 50%;
            vertical-align: middle;

            svg {
                width: 100%;
                height: 100%;
            }
        }

        &-name {
            display: inline-block;
            padding: 0 21px;
            color: white;
            @include bold(24px, 78px);
            vertical-align: middle;
        }

        &-score {
            display: inline-block;
            padding: 0 21px;
            color: white;
            @include bold(32px, 78px);
            vertical-align: middle;
        }
    }
}

.red {
    fill: $red-player-color;
}

.green {
    fill: $green-player-color;
}

.blue {
    fill: $blue-player-color;
}

.yellow {
    fill: $yellow-player-color;
}

.game-raunds-counter {
    position: absolute;
    top: 100px;
    width: auto;
    left: 50%;
    padding: 0 21px;
    margin-top: 21px;
    @include bold(28px, 48px);
    background-color: white;
    color: $game-background-color;
    @include translateX(-50%);
}

.game-menu-button {
    position: absolute;
    width: 20px;
    height: 20px;
    @include border-bottom-radius(50%);
    left: 50%;
    @include translateX(-50%);
    background-color: white;
    cursor: pointer;
    @include transition(height 250ms ease-in);
    z-index: 9999;

    &:hover {
        height: 30px;
    }

    &::after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        border: 0 solid $game-background-color;
        border-width: 0 2px 2px 0;
        left: 5px;
        bottom: 5px;
        @include rotate(45deg);
    }
}