@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/utilities/general/clearfix";
@import "../../node_modules/susy/sass/susy";

@import "common/variables";
@import "mixins/fonts";
@import "mixins/media";

@import "common/reset";
@import "common/fonts";
@import "common/type";
@import "common/layout";
@import "common/footer";
@import "common/forms";
@import "common/buttons";

/* .footer-wrapper {
    width: 980px;
    max-width: 90%;
    height: 100%;
    margin: auto;
}

.form-container {
    max-width: 640px;
    height: auto;
    margin: 120px auto;
    padding: 28px 35px;
    background-color: white;
    border-radius: 5px;
    @include box-shadow(0 2px 2px 2px rgba(0, 0, 0, .15),
                        0 7px 12px rgba(0, 0, 0, .25));
} */

$susy: (
    'columns': susy-repeat(12),
    'gutters': 0.25,
    'spread': 'narrow',
    'container-spread': 'narrow',
);

.content {
    height: 100%;
    padding-bottom: 0;
}

.game {
    display: flex;
    width: 100%;
    height: 100%;

    &-toolbar {
        flex: 1 susy-span(4 of 12);
        height: 100%;
        background-color: white;
        @include box-shadow(
            2px 0 0 5px rgba(0, 0, 0, .19),
            1px 0 5px 3px rgba(0, 0, 0, .39));
        z-index: 999;

        &__actions {
            width: 100%;
            padding: 0 48px;
            margin-top: 120px;
        }

        &__action {
            display: block;
            &:not(:first-child) {
                margin-top: 21px;
            }
        }
    }

    &-space {
        flex: 2 susy-span(8 of 12);
        height: 100%;
        background-color: $game-background-color;
    }
}

.btn-game {
    width: 100%;
    height: 75px;
    @include game-regular(22px, 75px);
    text-transform: none;
    @include box-shadow(3px 3px 4px 2px rgba(0, 0, 0, .39));
    border-radius: 0;
    background-color: $game-accent-background-color;
    border-color: $game-accent-border-color;

    &:hover {
        @include box-shadow(6px 6px 6px 2px rgba(0, 0, 0, .45));
        background-color: $game-accent-background-color;
        border-color: $game-accent-border-color;
    }
}

.game-board {
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-gap: 1px;

    .game-cell {
        height: 100px;
        background-color: white;
        text-align: center;
        @include game-bold(36px, 100px);

        &.game-cell_won {
            background-color: #e5e3e2;
        }
    }
}

