
$susy: (
    'columns': susy-repeat(3),
    'gutters': 0.25,
    'spread': 'narrow',
    'container-spread': 'narrow',
);

.clearfix {
    @include pie-clearfix;
}

.form__control-container-33 {
    width: susy-span(1 of 3);
    margin-right: susy-gutter(of 3);
    float: left;

    & + .form__control-container-33 + .form__control-container-33 {
        margin-right: 0;
        float: right;
    }
}

.form__control-container-66 {
    width: susy-span(2 of 3);
    margin-right: susy-gutter(of 3);
    float: left;

    & + .form__control-container-33 {
        margin-right: 0;
        float: right;
    }
}

.form {
    width: 100%;
    padding: 0;

    &__group {
        position: relative;
        margin-bottom: 28px;

        &-legend {
            position: relative;
            @include regular(20px, 48px);
            background-color: white;
            padding: 0 9px;
            margin-left: 21px;
            margin-bottom: 21px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $base-border-color;
            left: 0;
            top: 23px;
        }
    }

    &__control-container {
        min-height: 50px;
        margin-bottom: 14px;
        @include pie-clearfix;
    }

    &__control {
        position: relative;

        &_select {
            &::after {
                position: absolute;
                content: " ";
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid $inaccent-text-color;
                top: 50%;
                right: 10px;
            }

            &::before {
                position: absolute;
                content: " ";
                width: 14px;
                height: calc(100% - 2px);
                right: 28px;
                top: 1px;
                background-image: linear-gradient(to right, transparent 0%, white 100%);
            }
        }

        &_radio {
            position: relative;
            width: 100%;

            .radio-inline {
                display: inline-block;

                .form__radio {
                    display: inline;
                    opacity: 0;
                    width: 0;
                    margin: 0;
                    overflow: hidden;
                    -webkit-appearance: none;
                }
            }
        }
    }
}

.form__input {
    width: 100%;
    height: 50px;
    display: block;
    border: 1px solid $base-border-color;
    border-radius: 4px;
    padding: 0 14px;
    @include regular(18px, 50px);

    &:hover {
        border-color: darken($base-border-color, 10%);
    }

    &:focus {
        border-color: $accent-border-color;
        color: $accent-text-color;
    }
    
    &:not(.active),
    &:focus,
    &.form__input_fill {
        & ~ .active-placeholder {
            background-color: white;
            padding: 0 7px;
            @include light(12px, 12px);
            top: -6px;
            left: 8px;
            color: $base-text-color;
        }
    }

    &_select {
        background-color: white;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer;
        padding-right: 28px;

        & ~ .active-placeholder {
            background-color: white;
            padding: 0 7px;
            @include light(12px, 12px);
            top: -6px;
            left: 8px;
            color: $base-text-color;
        }
    }

    &.state_error {
        color: $error-color;
        border-color: $error-color;

        & ~ .active-placeholder {
            color: $error-color;
        }
    }
}

.form__checkbox,
.form__switch {
    display: inline;
    opacity: 0;
    width: 0;
    margin: 0;
    overflow: hidden;
    -webkit-appearance: none;

    &:checked {
        & + .form__checkbox-label {
            color: $base-text-color;
        }
        
        & + .form__checkbox-label:before,
        & + .form__checkbox-labelhover:before {
            border-color: $accent-text-color;
        }
        
        & + .form__checkbox-label:after {
            top: 20.5px;
            left: 5px;
            width: 12px;
            height: 6px;
            border: 2px solid $accent-text-color;
            border-top-style: none;
            border-right-style: none;
            @include rotate(-45deg);
        }
    }

    &[disabled] {
        & + .form__checkbox-label {
            color: $disabled-text-color;
            pointer-events: none;

            &:before {
                border-color: transparent;
                background-color: $disabled-background-color;
            }
        }
    }
}

.form__checkbox-label,
.form__switch-label {
    display: block;
    height: 100%;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    vertical-align: bottom;
    color: $inaccent-text-color;
    @include regular(18px, 50px);
    @include transition(color 250ms ease-in);

    &:before, &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        @include transition(
            transform 250ms ease-in, 
            border-color 250ms ease-in, 
            background-color 250ms ease-in);
    }
    
    &:before {
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: 2px solid $base-border-color;
        border-radius: 4px;
        left: 0;
        top: 15.5px;
    }
    
    &:hover {
        color: $accent-text-color;
        
        &:before {
            border-color: $accent-border-color;
        }
    }
}

.form__switch:checked {
    & + .form__switch-label {
        color: $base-text-color;
    }
    
    & + .form__switch-label::before,
    & + .form__switch-label:hover::before {
        background-color: rgba($accent-background-color, .6);
        border-color: transparent;
    }
    
    & + .form__switch-label::after {
        content: "Yes";
        background-color: $accent-background-color;
        border-color: $accent-border-color;
        color: white;
        @include translate(80%, -50%);
    }
    
    & + .form__switch-label[data-checked-marker]::after {
        content: attr(data-checked-marker);
    }
}

.form__switch-label {
    padding-left: 60px;

    &::before, &::after {
        top: 50%;
        @include translate(0, -50%);
    }
    
    &::before {
        left: 1px;
        width: 50px;
        height: 20px;
        background-color: $fill-background-color;
        border-radius: 10px;
    }
    
    &::after {
        content: "No";
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 50%;
        text-align: center;
        @include bold(18px, 30px);
        color: $inaccent-text-color;
        border: 1px solid white;
        @include box-shadow(
            0 3px 1px -2px rgba(0, 0, 0, 0.14), 
            0 2px 2px 0 rgba(0, 0, 0, 0.098), 
            0 1px 5px 0 rgba(0, 0, 0, 0.084)
        );
    }
    
    &[data-unckecked-marker]::after {
        content: attr(data-unckecked-marker);
    }
    
    &:hover::before {
        background-color: $accent-background-color;
    }
}

.active-placeholder {
    position: absolute;
    width: auto;
    left: 14px;
    top: 8px;
    color: $inaccent-text-color;
    @include light(18px, 36px);
    @include transition(all 250ms ease-in);
    pointer-events: none;
}

.form__control-validation-messenge {
    width: 100%;
    padding: 0 14px;
    margin: 7px 0;
    @include regular(14px, 36px);
    background-color: $error-color;
    color: white;
    border-radius: 4px;
}