html {
    height: 100%!important;
}

html, body {
    overflow-x: auto;
    overflow-y: auto;
}

body {
    min-height: 100%;
    padding-left: 0;
}

.content {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: $fill-background-color;
}